<div class="footer bg-primary">
    <div id="bottom" class="bg-primary">
        <div class="row">
            <div class="four columns">
                <div>
                    <div class="region region-footer-left">
                        <div id="block-block-2" class="block block-block">


                            <div class="content">
                                <ul>
                                    <li>
                                        <a href="https://openweathermap.org/api"> Based on open weather api</a></li>
                                    <li>
                                        <a href="https://angular.io/">Angular</a></li>
                                    <li>
                                        <a href="https://spring.io">Spring boot</a></li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div>
                    <div class="region region-footer-center">
                        <div id="block-block-12" class="block block-block">


                            <div class="content">
                                <ul>
                                    <li>
                                        <p>Weather Data for</p></li>
                                    <li>
                                        <a>Free</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="four columns">
                <div class="copy">Copyright &copy; 2019<br/>IrakliKardawa@gmail.com<br/></div>
            </div>
        </div>
    </div>
</div>
