<div class="container">

    <div class="row">
        <div class="col-lg-12" id="forecast-header">

        </div>
    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-12">

            <input type="text" pInputText placeholder="search for city"/>

            <button pButton type="button" icon="pi pi-search" label="Search" iconPos="right"></button>

        </div>
    </div>


    <div class="row">
        <div class="col-lg-6">
            <p-chart type="bar" [data]="barData"></p-chart>
        </div>
        <div class="col-lg-6">
            <p-chart type="bar" [data]="barData"></p-chart>
        </div>

    </div>
    <br>
    <br>

    <div class="row">
        <div class="col-lg-6">
            <p-chart type="line" [data]="lineData" (onDataSelect)="selectData($event)"></p-chart>
        </div>
        <div class="col-lg-6">
            <p-chart type="line" [data]="lineData" (onDataSelect)="selectData($event)"></p-chart>
        </div>

    </div>
    <br>
    <br>
    <div class="row">
        <div class="col-lg-6">
            <p-chart type="doughnut" [data]="donatData"></p-chart>
        </div>
        <div class="col-lg-6">
            <p-chart type="doughnut" [data]="donatData"></p-chart>
        </div>

    </div>


    <br>
    <br>

    <div clas="row">
        <div class="col-lg-4">
            <button pButton type="button" icon="pi pi-save" label="Save as image" iconPos="left"></button>
            <button pButton type="button" icon="pi pi-save" label="Save as pdf" iconPos="left"></button>
        </div>
    </div>

</div>


