.span4 img {
    margin-right: 10px;
}
.span4 .img-left {
    float: left;
}
.span4 .img-right {
    float: right;
}
.example-card {
    max-width: 400px;
}

.example-header-image {
    background-size: cover;
}
